.square {
    height: 300px;
    width: 300px;
    background-color: purple;
    border: 3px black solid;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    color: tan;
    line-height: 9;
}