.team-anchor {
    color: skyblue;
}

.main-anchor:hover,
.lessons-anchor:hover {
    color: skyblue;
}

.main-info {
    display: flex;
    flex-flow: row wrap;
    gap: 65px;
    justify-content: center;
    padding: 20px 20px;
}

.person {
    font-family: Bahij SultanNahia, sans-serif;
    background-color: white;
    gap: 20px;
    height: 200px;
    width: 200px;
    border-radius: 30px;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.person:hover {
    background-color: skyblue;
    color: white;
}

.person:hover .trash-icon {
    display: block;
}

.trash-icon {
    display: none;
    position: absolute;
    top: -13px;
    right: -11px;
    background-color: white;
    height: 25px;
    width: 25px;
    padding: 10px;
    border-radius: 10px;
}

.photo {
    border-radius: 50px;
    height: 70px;
    width: 70px;
    margin-top: 30px;
}

h2 {
    font-size: larger;
}

h4,
h5 {
    font-family: ChronicaPro-Regular;
    color: lightgray;
}

h4 {
    font-size: small;
}

h5 {
    font-size: x-small;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}