/* iPhone-X */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header .menu {
    position: absolute;
    left: 0;
    top: 53px;
    height: 15px;
    display: block;
}

.header-text {
    text-align: center;
}

.navbar {
    justify-content: center;
    padding: 0;
    gap: 0;
}

.nav-left,
article {
    font-size: 24px;
}

.nav-right {
    display: none;
}

.header-text .first-text {
    font-size: 20px;
    padding-top: 30px;
}

.header-text {
    gap: none;
    padding: 0;
    justify-content: center;
    height: 170px;
}

.header-text .second-text,
.portfolio-part .research-ux {
    font-size: 14px;
}

.about-part p,
.skills-part-row .lines,
.portfolio-part .ux {
    font-size: 12px;
}

.skills-part-row,
.portfolio-part {
    flex-direction: column;
}

.skills-part-row .man-img {
    width: 100%;
}

.the-progress-bar {
    gap: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.portfolio-part .text-portfolio {
    width: 100%;
    padding: 0;
}

.images-portfolio {
    margin: 0;
    width: 100%;
}

.portofolio-part article {
    padding: 0;
}

.portfolio-part .arrows {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .cols-firstly {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    gap: 100px;
    padding-top: 30px;
    padding-right: 0;
}

footer .col-footer-last {
    display: block;
    font-size: 14px;
    padding-top: 35px;
}

footer .chevron {
    height: 12px;
}

footer article {
    font-size: 24px;
    position: static;
    padding: 20px;
    text-align: center;
}