.main {
    margin-top: 100px;
    text-align: center;
    margin: 0 auto;
}

/* .styling {
} */

button {
    margin: 15px 0 15px 0;
}

.txar1,
.txar2 {
    height: 230px;
    width: 600px;
    border: gray solid 1px;
    background-color: lightgray;
    margin: 0 auto;
    border-radius: 5px;
}

.txar1 p {
    display: flex;
    margin-left: 30px;
}

.txar2.style {
    display: flex;
    align-items: center;
}

button {
    border: none;
    border-radius: 5px;
    padding: 3px 8px;
    cursor: pointer;
}

.editBtn {
    background-color: orange;
}

.styleBtn {
    background-color: cadetblue;
    color: white;
}

.editing {
    margin-top: 15px;
}

.fonts {
    width: 250px;
    padding: 6px;
    border-radius: 5px;
    border: #dcdcdc solid 1px;
}

p {
    margin: 6px;
}

.colorBtn {
    margin: 0;
    background: gray;
    color: white;
    padding: 6px;
    width: 124px;
}

.styling {
    text-align: start;
    margin-left: 50px;
}

textarea {
    border: none;
    border-radius: 5px;
}

.addBtn {
    background-color: crimson;
    color: white;
}

.saveBtn {
    background-color: limegreen;
    color: white;
}

.addSaveBtns {
    text-align: start;
    margin-left: 50px;
}

.cell{
    border: 1px white solid;
    width: 50px;
    height: 50px;
}

.colorsForBtns{
    margin: 0 auto;
    width: 160px;
    display: flex;
    flex-wrap: wrap;
}